:root {
    --md-primary-fg-color:        #003F88;
    --md-primary-fg-color--light: #003F88;
    --md-primary-fg-color--dark:  #003F88;
  }
  
h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
}
/* 直接通过图片路径定位校徽并调整大小 */
img[src$="校徽_白.png"] {
  width: 80px !important;  /* 调整为你需要的宽度 */
  height: auto !important; /* 保持宽高比，防止变形 */
  margin: 5px 0; /* 可选：调整上下边距，优化布局 */
}
